.label {
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.6px;
    text-align: center;
    padding: 12px;
    background: #7AC5E5;
    margin-top: 23px;
}
