<section class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__info">
                <h2 class="sectionTitle">About Us</h2>
                <div class="about__custom-fields">
                    <p class="about__text">Welcome to Snow Kyt, the ultimate destination for all the clothing and equipment you need to hit the slopes!</p>
                    <p class="about__text">Our passion for skiing drives us to provide you with a comprehensive comparison, ensuring you make the perfect choice for your winter adventures.</p>
                    <p class="about__text">We are a team of dedicated snow enthusiasts who have scoured the mountains to bring you a streamlined shopping experience.</p>
                    <p class="about__text">Whether you're a seasoned pro or a complete beginner, Snow Kyt is your trusted companion in finding the ideal gear for an unforgettable skiing experience.</p>
                </div>
                <a href="#" class="customButton">Read More</a>
            </div>
            <div class="about__img">
                <img src="images/about.png" alt="">
            </div>
        </div>
    </div>
</section>    