 <div class="filter">
    <div class="container">
        <div class="filter__content">
            <div class="filter__heading">
                <div class="filter__heading-filter">
                    <div class="filter__title">Filters</div>
                        <div class="filter__filters">
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Group</option>
                            <option value="">Group 1</option>
                            <option value="">Group 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Brand</option>
                            <option value="">Brand 1</option>
                            <option value="">Brand 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Category</option>
                            <option value="">Category 1</option>
                            <option value="">Category 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Size</option>
                            <option value="">Size 1</option>
                            <option value="">Size 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Price</option>
                            <option value="">Price 1</option>
                            <option value="">Price 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Color</option>
                            <option value="">Color 1</option>
                            <option value="">Color 2</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="filter__heading-sort">
                    <div class="filter__sort">
                        <select class="filter__sort-select">
                            <option value="" selected>Sort By</option>
                            <option value="">Sort By Date</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <section class="catalog">
    <div class="container">
        <div class="catalog__content">
            <div class="catalog__list">
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
            </div>
            <div class="catalog__more">
                <div class="catalog__more-text">Showing  48 of  100</div>
                <button class="customButton">Show More</button>
            </div>
        </div>
    </div>
    <div class="cardModal">
        <button type="button" class="cardModal__close"></button>
        <div class="cardModal__content">
            <div class="cardModal__slider">
                <img src="images/product.png" alt="">
            </div>
            <div class="cardModal__info">
                <div class="cardModal__title">Sweatshirt</div>
                <div class="cardModal__subtitle">Sweatshirt with full sleeves</div>
                <div class="cardModal__price">$1990</div>
                <div class="cardModal__desc">Product Description:</div>
                <p class="cardModal__text">Welcome to Snow Kyt, the ultimate destination for all the clothing and equipment you need to hit the slopes! Our passion for skiing drives us to provide you with a comprehensive comparison, ensuring you make the perfect choice for your winter adventures. <a>Read More..</a></p>
                <button class="customButton">Shop Now</button>
                <div class="cardModal__options">
                    <div class="cardModal__option">
                        <p class="cardModal__option-title">All Shipping and Return Info</p>
                        <p class="cardModal__option-info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti unde sint numquam nostrum aut hic quaerat ducimus suscipit magni, quasi quos ab aperiam, doloribus iure expedita, eum atque rerum!
                        </p>
                    </div>
                    <div class="cardModal__option">
                        <p class="cardModal__option-title">Product Details</p>
                        <p class="cardModal__option-info">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam laborum ut repudiandae officia vitae! Libero at architecto vel rem voluptatem ad, nihil id fugiat pariatur nam consequuntur sit est perspiciatis!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>