 <div class="filter">
    <div class="container">
        <div class="filter__content">
            <div class="filter__heading">
                <div class="filter__heading-filter">
                    <div class="filter__title">Filters</div>
                        <div class="filter__filters">
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Group</option>
                            <option value="">Group 1</option>
                            <option value="">Group 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Brand</option>
                            <option value="">Brand 1</option>
                            <option value="">Brand 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Category</option>
                            <option value="">Category 1</option>
                            <option value="">Category 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Size</option>
                            <option value="">Size 1</option>
                            <option value="">Size 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Price</option>
                            <option value="">Price 1</option>
                            <option value="">Price 2</option>
                        </select>
                    </div>
                    <div class="filter__filters-item">
                        <select class="filter__filters-select">
                            <option value="">Color</option>
                            <option value="">Color 1</option>
                            <option value="">Color 2</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="filter__heading-sort">
                    <div class="filter__sort">
                        <select class="filter__sort-select">
                            <option value="" selected>Sort By</option>
                            <option value="">Sort By Date</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <section class="catalog">
    <div class="container">
        <div class="catalog__content">
            <div class="catalog__list">
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="images/card_img.png" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__text">
                            <div class="card__title">Sweat Shirt</div>
                            <div class="card__desc">Sweatshirt with full sleeves</div>
                            <div class="card__brand">Brand Name</div>
                        </div>
                        <div class="card__price">$123.00</div>
                    </div>
                </div>
            </div>
            <div class="catalog__more">
                <div class="catalog__more-text">Showing  48 of  100</div>
                <button class="customButton">Show More</button>
            </div>
        </div>
    </div>
 </section>