 <section class="categoryWall">
    <div class="container">
        <div class="categoryWall__content">
            <div class="categoryWall__item">
                <img src="images/cat1.png" alt="" class="categoryWall__img">
                <a href="" class="categoryWall__link">Shop Clothing</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/cat2.png" alt="" class="categoryWall__img">
                <a href="" class="categoryWall__link">Shop Equipment</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/brand__logo.png" alt="" class="categoryWall__item-brand__logo">
                <img src="images/cat3.png" alt="" class="categoryWall__img">
                <a href="" class="categoryWall__link">Explore Brands</a>
            </div>
        </div>
    </div>
 </section>