 <section class="categoryMenu"> 
    <div class="container">
        <div class="categoryMenu__content">
            <ul class="categoryMenu__list">
                
                <li class="categoryMenu__item">
                    <span>Clothing</span>
                    <ul class="categoryMenuDropdown">
                        <li class="categoryMenuDropdown__line"></li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">All Clothing</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Jackets</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Trousers</a>
                        </li>
                    </ul>
                </li>
                <li class="categoryMenu__item">
                    <span>Equipment</span>
                    <ul class="categoryMenuDropdown">
                        <li class="categoryMenuDropdown__line"></li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">All Equipment</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Jackets</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Trousers</a>
                        </li>
                    </ul>
                </li>
                <li class="categoryMenu__item">
                    <span>Brands</span>
                    <ul class="categoryMenuDropdown">
                        <li class="categoryMenuDropdown__line"></li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">All Brands</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Jackets</a>
                        </li>
                        <li class="categoryMenuDropdown__item">
                            <a href="#" class="categoryMenuDropdown__link">Trousers</a>
                        </li>
                    </ul>
                </li>
                <li class="categoryMenu__item">
                    <a href="#"><span>Trending</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>