<header class="header"> 
    <div class="container">
        <div class="header__content">
            <a href="#" class="logo header__logo">
                <img src="images/logo.svg" alt="logo">
            </a>
            <div class="header__nav">
                <div class="menu top__menu_1">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Men</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Women</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Kids</a>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input type="search" name="" id="" placeholder="Type to search... ">
                    <button type="button" class="search__button">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.58335 17.5C13.9556 17.5 17.5 13.9555 17.5 9.58329C17.5 5.21103 13.9556 1.66663 9.58335 1.66663C5.2111 1.66663 1.66669 5.21103 1.66669 9.58329C1.66669 13.9555 5.2111 17.5 9.58335 17.5Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.3334 18.3333L16.6667 16.6666" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="menu top__menu_2">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="burger">
                <span></span>
            </div>
        </div>

        
    </div>
    <section class="searchModal">
        <div class="searchModal__close"></div>
        <div class="container">
            <div class="searchModal__content">
                <div class="filter">
                <div class="">
                    <div class="filter__content">
                        <div class="filter__heading">
                            <div class="filter__heading-filter">
                                <div class="filter__title">Filters</div>
                                    <div class="filter__filters">
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Group</option>
                                        <option value="">Group 1</option>
                                        <option value="">Group 2</option>
                                    </select>
                                </div>
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Brand</option>
                                        <option value="">Brand 1</option>
                                        <option value="">Brand 2</option>
                                    </select>
                                </div>
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Category</option>
                                        <option value="">Category 1</option>
                                        <option value="">Category 2</option>
                                    </select>
                                </div>
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Size</option>
                                        <option value="">Size 1</option>
                                        <option value="">Size 2</option>
                                    </select>
                                </div>
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Price</option>
                                        <option value="">Price 1</option>
                                        <option value="">Price 2</option>
                                    </select>
                                </div>
                                <div class="filter__filters-item">
                                    <select class="filter__filters-select">
                                        <option value="">Color</option>
                                        <option value="">Color 1</option>
                                        <option value="">Color 2</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="filter__heading-sort">
                                <div class="filter__sort">
                                    <select class="filter__sort-select">
                                        <option value="" selected>Sort By</option>
                                        <option value="">Sort By Date</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="searchModal__list">
                    <div class="card">
                        <div class="card__img">
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__text">
                                <div class="card__title">Sweat Shirt</div>
                                <div class="card__desc">Sweatshirt with full sleeves</div>
                                <div class="card__brand">Brand Name</div>
                            </div>
                            <div class="card__price">$123.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__text">
                                <div class="card__title">Sweat Shirt</div>
                                <div class="card__desc">Sweatshirt with full sleeves</div>
                                <div class="card__brand">Brand Name</div>
                            </div>
                            <div class="card__price">$123.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__text">
                                <div class="card__title">Sweat Shirt</div>
                                <div class="card__desc">Sweatshirt with full sleeves</div>
                                <div class="card__brand">Brand Name</div>
                            </div>
                            <div class="card__price">$123.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__text">
                                <div class="card__title">Sweat Shirt</div>
                                <div class="card__desc">Sweatshirt with full sleeves</div>
                                <div class="card__brand">Brand Name</div>
                            </div>
                            <div class="card__price">$123.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__img">
                            <img src="images/card_img.png" alt="">
                        </div>
                        <div class="card__info">
                            <div class="card__text">
                                <div class="card__title">Sweat Shirt</div>
                                <div class="card__desc">Sweatshirt with full sleeves</div>
                                <div class="card__brand">Brand Name</div>
                            </div>
                            <div class="card__price">$123.00</div>
                        </div>
                    </div>
                </div>
                <div class="searchModal__more">
                    <div class="searchModal__more-text">Showing  48 of  100</div>
                    <button class="customButton">Show More</button>
                </div>
            </div>
        </div>
    </section>
</header>