<header class="header"> 
    <div class="container">
        <div class="header__content">
            <div class="logo header__logo">
                <img src="images/logo.svg" alt="logo">
            </div>
            <div class="header__nav">
                <div class="menu top__menu_1">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Men</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Women</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Kids</a>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input type="search" name="" id="" placeholder="Type to search... ">
                    <button type="button" class="search__button">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.58335 17.5C13.9556 17.5 17.5 13.9555 17.5 9.58329C17.5 5.21103 13.9556 1.66663 9.58335 1.66663C5.2111 1.66663 1.66669 5.21103 1.66669 9.58329C1.66669 13.9555 5.2111 17.5 9.58335 17.5Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.3334 18.3333L16.6667 16.6666" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="menu top__menu_2">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</header>