html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	background-color: #1e1e1e;
	font-family: "Poppins", sans-serif;
	cursor: default;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: #c17465;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 70px;
	@include max-xl {
		padding: 0 35px;
	}
	@include max-md {
		padding: 0 20px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
}
.owl-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	& button {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='31' viewBox='0 0 36 31' fill='none'%3E%3Cpath d='M34.5 15.5L2.92288 15.5M15.0679 30L2.21144 17.2088C1.26285 16.2651 1.26285 14.7349 2.21144 13.7912L15.0679 1' stroke='%237AC5E5' stroke-width='1.67933' stroke-linecap='round'/%3E%3C/svg%3E");
		width: 33px;
		height: 39px;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		@include max-lg {
			width: 29px;
			height: 30px;
		}
		@include max-sm {
			width: 24px;
			height: 21px;
		}
	}
	& .owl-prev {
		left: 0;
	}
	& .owl-next {
		transform: rotate(180deg);
		right: 0;
	}
	& span {
		display: none;
	}
}
.owl-dots {
	display: none;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
	display: none !important;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	color: #fff;
	font-size: 34px;
	font-weight: 500;
	line-height: 35.161px;
	border-left: 6px solid #7ac5e5;
	padding-left: 16px;
	@include max-lg {
		font-size: 30px;
		line-height: normal;
	}
	@include max-sm {
		font-size: 26px;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
.customButton {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
	border-radius: 10px;
	background: #7ac5e5;
	box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
	padding: 20px 60px;
	width: max-content;
	transition: 0.2s;
	@include max-lg {
		font-size: 14px;
		padding: 15px 40px;
	}
	&:hover {
		color: #000;
		transform: scale(1.05);
		transition: 0.2s;
	}
}
.filter {
	&__content {
		padding: 13px 0 0;
	}
	&__heading {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__title {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		line-height: normal;
	}
	&__sort {
		display: flex;
		align-items: center;
		column-gap: 0;
		max-width: max-content;
		&::after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41337 10.8534C8.31962 10.947 8.19254 10.9996 8.06004 10.9996C7.92754 10.9996 7.80045 10.947 7.7067 10.8534L2.7067 5.85335C2.61838 5.75857 2.5703 5.63321 2.57259 5.50367C2.57487 5.37414 2.62735 5.25055 2.71896 5.15894C2.81057 5.06733 2.93416 5.01486 3.06369 5.01257C3.19322 5.01029 3.31859 5.05837 3.41337 5.14669L8.06004 9.79335L12.7067 5.14669C12.7525 5.09756 12.8077 5.05816 12.869 5.03083C12.9303 5.00351 12.9966 4.98881 13.0637 4.98763C13.1308 4.98644 13.1975 4.99879 13.2598 5.02394C13.322 5.04909 13.3786 5.08652 13.4261 5.134C13.4735 5.18147 13.511 5.23803 13.5361 5.30029C13.5613 5.36255 13.5736 5.42923 13.5724 5.49637C13.5712 5.5635 13.5566 5.62971 13.5292 5.69105C13.5019 5.75238 13.4625 5.80758 13.4134 5.85335L8.41337 10.8534Z' fill='white'/%3E%3C/svg%3E%0A");
			width: 16px;
			height: 16px;
			background-size: contain;
			background-repeat: no-repeat;
			margin: auto;
			transition: 0.5s;
			display: block;
		}
		&-select {
			border: none;
			outline: none;
			background-color: #1e1e1e;
			color: #fff;
			font-size: 15px;
			font-weight: 400;
			line-height: 20px;
			padding: 9px;
		}
	}
	&__filters {
		display: flex;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
		margin-top: 10px;
		&-item {
			display: flex;
			align-items: center;
			position: relative;
			&::after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41337 10.8534C8.31962 10.947 8.19254 10.9996 8.06004 10.9996C7.92754 10.9996 7.80045 10.947 7.7067 10.8534L2.7067 5.85335C2.61838 5.75857 2.5703 5.63321 2.57259 5.50367C2.57487 5.37414 2.62735 5.25055 2.71896 5.15894C2.81057 5.06733 2.93416 5.01486 3.06369 5.01257C3.19322 5.01029 3.31859 5.05837 3.41337 5.14669L8.06004 9.79335L12.7067 5.14669C12.7525 5.09756 12.8077 5.05816 12.869 5.03083C12.9303 5.00351 12.9966 4.98881 13.0637 4.98763C13.1308 4.98644 13.1975 4.99879 13.2598 5.02394C13.322 5.04909 13.3786 5.08652 13.4261 5.134C13.4735 5.18147 13.511 5.23803 13.5361 5.30029C13.5613 5.36255 13.5736 5.42923 13.5724 5.49637C13.5712 5.5635 13.5566 5.62971 13.5292 5.69105C13.5019 5.75238 13.4625 5.80758 13.4134 5.85335L8.41337 10.8534Z' fill='white'/%3E%3C/svg%3E%0A");
				width: 16px;
				height: 16px;
				background-size: contain;
				background-repeat: no-repeat;
				margin: auto;
				transition: 0.5s;
				position: absolute;
				right: 10px;
			}
		}
		&-select {
			cursor: pointer;
			outline: none;
			border: none;
			padding: 9px 15px;
			min-width: 152px;
			width: auto;
			background-color: #1e1e1e;
			color: #fff;
			text-align: left;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			border: 1px solid #fff;
			border-radius: 10px;
		}
	}
}
.blockTitle {
	color: #fff;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	line-height: 140%;
	text-transform: uppercase;
	@include max-lg{
		font-size: 30px;
		line-height: 40px;
	}
	@include max-sm{
		font-size: 25px;
		line-height: 35px;
	}
	
	& span {
		color: #7ac5e5;
	}
}
