html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	background-color: #1e1e1e;
	font-family: "Poppins", sans-serif;
	cursor: default;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: #c17465;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 70px;
	@include max-xl {
		padding: 0 35px;
	}
	@include max-md {
		padding: 0 20px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
}
.owl-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	& button {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='31' viewBox='0 0 36 31' fill='none'%3E%3Cpath d='M34.5 15.5L2.92288 15.5M15.0679 30L2.21144 17.2088C1.26285 16.2651 1.26285 14.7349 2.21144 13.7912L15.0679 1' stroke='%237AC5E5' stroke-width='1.67933' stroke-linecap='round'/%3E%3C/svg%3E");
		width: 33px;
		height: 39px;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		@include max-lg {
			width: 29px;
			height: 30px;
		}
		@include max-sm {
			width: 24px;
			height: 21px;
		}
	}
	& .owl-prev {
		left: 0;
	}
	& .owl-next {
		transform: rotate(180deg);
		right: 0;
	}
	& span {
		display: none;
	}
}
.owl-dots {
	display: none;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
	display: none !important;
}
.custom-button {
	background: #c17465;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	color: #fff;
	font-size: 34px;
	font-weight: 500;
	line-height: 35.161px;
	border-left: 6px solid #7ac5e5;
	padding-left: 16px;
	@include max-lg {
		font-size: 30px;
		line-height: normal;
	}
	@include max-sm {
		font-size: 26px;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
.customButton {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
	border-radius: 10px;
	background: #7ac5e5;
	box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
	padding: 20px 60px;
	width: max-content;
	transition: .2s;
	@include max-lg{
		font-size: 14px;
		padding: 15px 40px;
	}
	&:hover {
		color: #000;
		transform: scale(1.05);
		transition: .2s;
	}
}
